* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color:rgb(21, 21, 21);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: "Work Sans", sans-serif;
}

.fullbody {
    background-color: black;
}

.fullbody .container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin-right: auto;
    margin-right: auto;
}

a {
    color: rgb(143, 141, 141);
    text-decoration: none;
    font-size: 13px;
}

a:hover {
    color:white;
}

.conatiner2 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container2 .header {
    background-color: var(--main-color);
    border-radius: 8px;
    
}

.container2 .header {
    display: flex;
    justify-content: space-between;
}

.con {
    padding: 2%;
    background-color: rgb(34, 34, 34);
    background: linear-gradient(180deg,
    rgba(34, 34, 34,1) 0%,
    rgba(21, 21, 21,1) 35%,
    rgba(0,0,0,1) 100%);
}

.main div {
    display: flex;
    justify-content: space-between;
}

.albums img {
    width: 160px;
    height:170px;
    border-radius: 8px;
    margin-bottom: 7px;
}

h4{
    font-size: 20px;
    color: white;
    font-weight: bold;   
}

.albums div:hover {
    border: 2px solid #747070;
    border-radius:5px ;
}

.albums {
    display: flex;
    justify-content: space-evenly;
}

.albums div {
    margin-top: 7px;
    border-radius: 8px;
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-color);
}

.albums div p {
    margin-top: 4px;
    color: rgb(143, 141, 141);;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

input {
    margin: auto 50%;
    width: 30%;
    height: 40px;
    color: white;
    border-radius: 20px;
    background-color: black;
    border: 3px solid rgb(86, 85, 85);
    font-size: 20px;
    text-align: center;
 }

