*{
    margin: 0;
    padding: 0;
    color: white;
}
body {
    background-image:url("../pictures/130.png");
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:large;
    color:white;
    overflow-x:hidden;
    background-attachment:fixed;
}
.search {
    display:inline-block;
    align-items:center;
    padding:10px 20px;
    margin-left:40%;
}
input {
    flex:1;
    height:50px;
    background:#252525;
    border:0;
    outline:0;
    font-size:18px;
    color:#b1b0b0ef;
    border-radius:50px;
}
button {
    background:transparent;
    border:0;
    outline:0;
}
button i.bi-search {
    width:25px;
    color:#555;
    font-size:22px;
    cursor:pointer;
}
.film-search{
    max-width:400px;
    position: relative;
    left: 540px;
}
.film-search li:hover{
    background-color:#555;
}
div.name{
    background-color:rgba(40, 40, 40,0.75);;
    text-align:center;
    color:white;
    padding:0;
}
.name p{
    margin-bottom: 10px;
}
ul.nav {
    list-style-type:none;
}

header li {
    background-color: #252525;
    float:left;
    color:white;
    padding:0 0 0 10px;
    margin-bottom:20px;
    
        a.about{
            margin-right:0px;
        };
        
}


a.home,a.anime,a.action,a.comedy,a.drama,a.horror,a.arabic,a.english,a.about {
    text-decoration:none;
    float:left;
    color:white;
    text-align:center;
}

nav {
    a:hover{
    background-color:rgb(112, 112, 112);
    };
}

a.comedy:link {
    background-color:#8b8b8baf;

}

a.b1 {
    margin-left:10px;
    
}

a.b1, a.b2 {
    font-size: 17px;
    padding: 10px;
    border-radius: 26px;
    font-weight: 600;
    display:inline-block;
    color:#909090;
    border-right:0;
    border:0;
    margin-top:10px;
    background-color:#252525;
    text-align:center;
    text-decoration:none;

}


a.b1:hover,a.b2:hover {
    color:black;
    background-color: white;
    font-weight:bold;
}

div.header1,div.header2,div.header3,div.header4,div.header5 {
    text-align:left;
    display:inline;
    text-indent: 10px;

}

div.popular,div.EnglishFilms2024,div.Films2023,div.Films2022,div.Films2021 {
    background-color:rgba(40, 40, 40,0.75);
    display:flex;
    text-align:center;
    padding:20px;
}

.first,.second,.third,.fourth,.fifth {
    text-align:center;
    text-indent:5px;
    font-size:medium;
    margin-bottom:10px;
}

img.film1,img.film2,img.film3,img.film4,img.film5 {
    margin:10px 10px 10px 10px;
    padding:10px;

}

div.popular img.film5 {
    width:65%;
    height:65%;
}

div.popular img.film3 {
    width:72%;
    height:72%;

}

div.popular img.film1 {
    width:80%;
    height:80%;

}

div.popular img.film2 {
    width:72%;
    height:70%;
}

.name1,.name2,.name3,.name4,.name5 {
    margin-top:5px;
    margin-bottom:5px;
}

div .link{
    text-decoration:none;
    color:white;
    display:block;
}

div .link:hover {
    border-radius:10px;
    border:5px solid rgb(167, 167, 167);
    padding:0%;
}

div.popular img,div.EnglishFilms2024 img,div.Films2023 img,div.Films2022 img,div.Films2021 img {
    width:60%;
    height:60%;

}

div.EnglishFilms2024 img.film3 {
    width:59%;
    height:59%;
}

div.Films2022 img.film1 {
    width:60%;
    height:50%;
}

div.Films2022 img.film4 {
    width:63%;
    height:64%;
}

div.Films2022 img.film2 {
    width:65%;
    height:66%;
}

div.Films2022 img.film3 {
    width:65%;
    height:65%;

}

div.Films2021 img.film4 {
    width:70%;
    height:70%;
}
