* {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(../pictures/14.png);
    background: -webkit-linear-gradient(to right, #6441a5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:large;
    color:#fff;
    text-align:center;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

div p {
    font-size:23px;
    font-weight:800px ;
    text-indent:20px;
    margin: 49px 181px;
}

iframe.ad1,iframe.ad2 {
    overflow:-moz-hidden-unscrollable;
}

img.filmphoto {
    margin-top:10px;
    height:10%;
    width:25%;
    border: 5px ridge #2c5553;
    position: relative;
    margin-top: 100px;
    z-index: 9999;
    border-radius: 32px;
}

ul.nav {
list-style-type:none;
}

header li {
background-color: #0A0082;
float:left;
color:white;
padding:0 0 0 20px;
margin-bottom:20px;
a.about{
margin-right:1px;
};
}

#down,#watch,#play {
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    color:white;
    text-decoration:none;
    padding:15px;
    margin:10px;
    display:inline-block;
    text-transform:uppercase;
    border: 10px solid #891c2d;
    border-radius: 50px;
    background-color: #891c2d;
    transition: 0.4s;
}

#shows a {
    text-decoration: none;
    padding: 15px;
    margin: 2px;
    display: inline-block;
    background-color: coral;
    width: 92px;
    height: 20px;
    border-radius: 11px;
    color: white;
}

#down:hover,#watch:hover,#play:hover {
    font-size: 25px;
    background-color: rgb(120, 25, 25);
    border-color: rgb(120, 25, 25);
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
}


iframe.film {
    margin-top:40px;
    display:inline;
    border:5px ridge #0083B0;
}


a.home,a.anime,a.action,a.comedy,a.drama,a.horror,a.arabic,a.english,a.about{
    text-decoration:none;
    float:left;
    color:white;
    text-align:center;
    }
    nav{
    a:hover{
    background-color:blueviolet;
    };

}

a.download1,a.download2,a.download3,a.download4 {
    text-decoration:none;
    color:white;
    padding:6px 20px 6px 20px;
    text-align:center;
    text-transform:uppercase;
    background-color: #1cea2c;
    border-radius: 34px;
    display: inline-block;
    width: -webkit-fill-available;
}

a.download1:hover,a.download2:hover,a.download3:hover,a.download4:hover {
    color: #000;
    background-color: #0083B0;
}

footer {
    background-color:black;
    width:100%;
    height:120px;
}

a.episode1:hover,a.episode2:hover,a.episode3:hover,a.episode4:hover,a.episode5:hover,a.episode6:hover,a.episode7:hover,a.episode8:hover,a.episode9:hover,a.episode10:hover,a.episode11:hover,a.episode12:hover,a.episode13:hover,a.episode14:hover,a.episode15:hover,a.episode16:hover,a.episode17:hover,a.episode18:hover,a.episode19:hover,a.episode20:hover,a.episode21:hover,a.episode22:hover,a.episode23:hover,a.episode24:hover,a.episode25:hover,a.episode26:hover,a.episode27:hover,a.episode28:hover,a.episode29:hover,a.episode30:hover{
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca); 





}












